<div class="grid-stack-item lockAspect image_view_outer"
		data-gs-width="3" data-gs-height="4"
         id="{{ imageName }}">
	<p>
	<h3>Subsystem Status</h3>
	<div id="subsystemStatus"></div>
	<p />

	<p />
	Status reported at: {{ statusTimestamp }}
	<p />

	<table class="subsystemStatus">
		<tr>
			<th class="left">Name</th>
			<th class="left">State</th>
			<th class="left">Last updated</th>
		</tr>
		{{#each subsystemStatuses}}
		<tr>
  			<td class="left">{{name}}</td>
 			<td class="left">{{status}}</td>
  			<td class="left">{{lastUpdated}}</td>
		</tr>
		{{/each}}
	</table>
</div>