<div class="card" style="width: 20rem;">
	<div class="card-block">
		<h2 class="card-title">{{displayName}}</h2>	
		<table>
			<thead>
				<th>Subsystem</th>
				<th>Elapsed Time</th>
				<th>  </th>
			</thead>
			<tbody>
				{{#subsystem}}
				<tr>
					<td class="left subsystemName">{{displayName}}</td>
					<td class="left status elapsedTime" id="{{name}}_status" {{#if statusColor}}style="background-color:{{statusColor}};"{{/if}}>{{elapsedTime}}</td>
					{{#if logfileUrl}}
					<td class="left"><a class="button" href="{{logfileUrl}}" target="_blank"> Log </a></td>
					{{/if}}
				</tr>
				{{/subsystem}}
			</tbody>
		</table>
	</div>
</div>
