<div class="grid-stack-item" data-gs-x="0" data-gs-y="1"
	data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<strong>EV1</strong>
		<table>
			<thead>
				<th>Subsystem</th>
				<th>Elapsed Time</th>
				<th>  </th>
			</thead>
			<tbody>
				{{#EV1}}
				<tr>
					<td class="left subsystemName">{{displayName}}</td>
					<td class="left status elapsedTime" id="EV1_{{name}}_status">{{elapsedTime}}</td>
					{{#if logfileUrl}}
					<td class="left"><a class="button" href="{{logfileUrl}}" target="_blank"> Log </a></td>
					{{/if}}
				</tr>
				{{/EV1}}
			</tbody>
		</table>
	</div>
</div>

<div class="grid-stack-item" data-gs-x="2" data-gs-y="1"
	data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<strong>EV2</strong>
		<table>
			<thead>
				<th>Subsystem</th>
				<th>Elapsed Time</th>
				<th></th>
			</thead>
			<tbody>
				{{#EV2}}
				<tr>
					<td class="left subsystemName">{{displayName}}</td>
					<td class="left status elapsedTime" id="EV2_{{name}}_status">{{elapsedTime}}</td>
					{{#if logfileUrl}}
					<td class="left"><a class="button" href="{{logfileUrl}}" target="_blank"> Log </a></td>
					{{/if}}
				</tr>
				{{/EV2}}
			</tbody>
		</table>
	</div>
</div>

<div class="grid-stack-item" data-gs-x="4" data-gs-y="1"
	data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<strong>Field Services</strong>
		<table>
			<thead>
				<th>Subsystem</th>
				<th>Elapsed Time</th>
				<th></th>
			</thead>
			<tbody>
				{{#field}}
				<tr>
					<td class="left subsystemName">{{displayName}}</td>
					<td class="left status elapsedTime" id="field_{{name}}_status">{{elapsedTime}}</td>
				</tr>
				{{/field}}
			</tbody>
		</table>
		
		<strong>Load Average</strong>
		<table>
			<thead>
				<th>One Min</th>
				<th>Five Min</th>
				<th></th>
			</thead>
			<tbody>
				<tr id="fieldLoadAverage">
					<td class="left oneMin status" style="border: 1px solid black;"></td>
					<td class="left fiveMin status" style="border: 1px solid black;"></td>
					
					{{#if logfileUrl}}
					<td class="left"><a class="button" href="{{logfileUrl}}" target="_blank"> Log </a></td>
					{{/if}}
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="grid-stack-item" data-gs-x="6" data-gs-y="1"
	data-gs-width="2" data-gs-height="2">
	<div class="grid-stack-item-content">
		<strong>Ground Services</strong>
		<table>
			<thead>
				<th>Subsystem</th>
				<th>Elapsed Time</th>
				<th></th>
			</thead>
			<tbody>
				{{#baseCamp}}
				<tr>
					<td class="left subsystemName">{{displayName}}</td>
					<td class="left status elapsedTime" id="baseCamp_{{name}}_status">{{elapsedTime}}</td>
				</tr>
				{{/baseCamp}}
			</tbody>
		</table>
		
		<strong>Load Average</strong>
		<table>
			<thead>
				<th>One Min</th>
				<th>Five Min</th>
				<th></th>
			</thead>
			<tbody>
				<tr id="basecampLoadAverage">
					<td class="left oneMin status" style="border: 1px solid black;"></td>
					<td class="left fiveMin status" style="border: 1px solid black;"></td>
					
					{{#if logfileUrl}}
					<td class="left"><a class="button" href="{{logfileUrl}}" target="_blank"> Log </a></td>
					{{/if}}
				</tr>
			</tbody>
		</table>
	</div>
</div>